<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header class="bg-info">
        <h1>My Weather App</h1>
    </header>
</body>

</html>

<app-selection (onSelection)="display.update($event)"></app-selection>

<app-display #display></app-display>



<!-- 

<app-display #display></app-display>

<app-selection (onSelection)="display.update($event)"></app-selection> -->

<!-- 
<mat-toolbar color="primary"> <span>LocalCast Weather</span> </mat-toolbar>
<div fxLayoutAlign="center">
    <div class="mat-caption vertical-margin">Your city, your forecast, right now!</div>
</div>
<div fxLayoutAlign="center">
    <app-city-search></app-city-search>
</div>
<div fxLayout="row">
    <div fxFlex></div>
    <mat-card fxFlex="300px">
        <mat-card-header>
            <mat-card-title>
                <div class="mat-headline">Current Weather</div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-current-weather></app-current-weather>
        </mat-card-content>
    </mat-card>
    <div fxFlex></div>
</div> -->